{% load static %}
<div class="container">
  <h1 class="text-3xl mx-10 p-3 font-bold border-b-2 border-black w-fit">Categories</h1>
  <div class="categories">
    <div class="category-card"
         data-info="Development boards including Raspberry Pi, Arduino, etc.">
      <img src="{% static 'images/category/Development-boards-5.jpg' %}"
           alt="Development Boards" height="" width="" />
      <p>Development Boards</p>
    </div>
    <div class="category-card"
         data-info="Various batteries, chargers, and accessories.">
      <img src="{% static 'images/category/Lithium-Ion-Battery.jpg' %}"
           alt="Batteries | Chargers" height="" width="" />
      <p>Batteries | Chargers and Accessories</p>
    </div>
    <div class="category-card" data-info="Parts and components for drones.">
      <img src="{% static 'images/category/Drone-kits.jpg' %}" alt="Drone Parts" height="" width="" />
      <p>Drone Parts</p>
    </div>
    <div class="category-card" data-info="Various sensors and modules.">
      <img src="{% static 'images/category/sensors.jpg' %}"
           alt="Sensors Modules" height="" width="" />
      <p>Sensors Modules</p>
    </div>
    <div class="category-card"
         data-info="Motors, drivers, pumps, and actuators.">
      <img src="{% static 'images/category/motors.jpg' %}"
           alt="Motors | Drivers" height="" width="" />
      <p>Motors | Drivers | Pumps | Actuators</p>
    </div>
    <div class="category-card"
         data-info="IoT and wireless communication modules.">
      <img src="{% static 'images/category/IoT-Wireless-2.jpg' %}"
           alt="IoT and Wireless" height="" width="" />
      <p>IoT and Wireless</p>
    </div>
    <div class="category-card"
         data-info="Basic electronic components like resistors, capacitors, etc.">
      <img src="{% static 'images/category/Electronic-Components-3.jpg' %}"
           alt="Electronic Components" height="" width="" />
      <p>Electronic Components</p>
    </div>
    <div class="category-card"
         data-info="Modules and displays for electronics projects.">
      <img src="{% static 'images/category/Electronic-Components.jpg' %}"
           alt="Electronic Modules and Displays" height="" width="" />
      <p>Electronic Modules and Displays</p>
    </div>
    <div class="category-card" data-info="3D printers and related parts.">
      <img src="{% static 'images/category/3D-Printer.jpg' %}"
           alt="3D Printers and Parts" height="" width="" />
      <p>3D Printers and Parts</p>
    </div>
    <div class="category-card"
         data-info="Mechanical parts and workbench tools.">
      <img src="{% static 'images/category/Mechanical-Components-3.jpg' %}"
           alt="Mechanical Parts and Workbench Tools" height="" width="" />
      <p>Mechanical Parts and Workbench Tools</p>
    </div>
    <div class="category-card" data-info="Parts for electric vehicles.">
      <img src="{% static 'images/category/E-Bikes-2.jpg' %}"
           alt="Electric Vehicle Parts" height="" width="" />
      <p>Electric Vehicle Parts</p>
    </div>
    <div class="category-card" data-info="DIY learning kits and robotics.">
      <img src="{% static 'images/category/DIY-kits.jpg' %}"
           alt="DIY Learning and Robot Kits" height="" width="" />
      <p>DIY Learning and Robot Kits</p>
    </div>
  </div>
</div>
