{% load static %}
<div class="container">
	<h1 class="text-3xl mx-10 p-3 font-bold border-b-2 border-black w-fit">
		Featured Products
	</h1>
	<div class="products">
		<div class="product-card">
			<img src="{% static 'images/category/pro1.png' %}" alt="Drone Motor" />
			<h2>Drone Motor</h2>
			<p class="product-title">T Motor MN4112 KV420</p>
			<p class="sku">SKU: 1272313</p>
			<p class="price">₹ 7,799.00 (Including GST)</p>
			<div class="actions">
				<button class="add-to-cart">Add to Cart</button>
				<button class="add-to-wishlist">Add to Wishlist</button>
			</div>
		</div>

		<div class="product-card">


			<img src="{% static 'images/category/pro3.jpg' %}" alt="Raspberry Pi Display" />
			<h2>Raspberry Pi Displays</h2>
			<p class="product-title">10.1 Inch IPS LCD Touch Screen 1280×800</p>
			<p class="sku">SKU: 1062474</p>
			<p class="price">₹ 7,249.00 (Including GST)</p>
			<div class="actions">
				<button class="add-to-cart">Add to Cart</button>
				<button class="add-to-wishlist">Add to Wishlist</button>
			</div>
		</div>
		<div class="product-card">
			<img src="{% static 'images/category/pro2.jpeg' %}" alt="LiDAR Sensor" />
			<h2>LiDAR Sensor</h2>
			<p class="product-title">MR72 77GHZ Collision Avoidance Radar (UART)</p>
			<p class="sku">SKU: 1461705</p>
			<p class="price">₹ 33,999.00 (Including GST)</p>
			<div class="actions">
				<button class="add-to-cart">Add to Cart</button>
				<button class="add-to-wishlist">Add to Wishlist</button>
			</div>
		</div>
		<div class="product-card">
			<img src="{% static 'images/category/pro4.jpg' %}" alt="3D Printer" />
			<h2>Creality 3D Printers</h2>
			<p class="product-title">Creality HALOT-MAGE 8K Resin 3D Printer</p>
			<p class="sku">SKU: 1745100</p>
			<p class="price">₹ 34,199.00 (Including GST)</p>
			<div class="actions">
				<button class="add-to-cart">Add to Cart</button>
				<button class="add-to-wishlist">Add to Wishlist</button>
			</div>
		</div>
	</div>
</div>