{% load static %}
<section class="featured-brands">
    <div class="header-container">
      <h1 class="text-3xl mx-10 p-3 font-bold border-b-2 border-black w-fit">Our Featured Brands</h1>
        <a href="http://">
            <input class="view-all-btn" type="button" value="View all">
        </a>
    </div>
    <div class="brands-grid">
        <div class="brand-card"><img src="{% static 'images/category/adafruit.jpg' %}" alt="Adafruit" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/ai-thinker-150x150.jpg' %}" alt="AI" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/arduCam.jpg' %}" alt="ArduCam" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/arduino-logo-ROBU.IN_-150x150.jpg' %}" alt="Arduino" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/benewake.png' %}" alt="Benewake" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/creality.png' %}" alt="Creality" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/dfrobot.png' %}" alt="DFRobot" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/DJI-150x150.jpg' %}" alt="DJI" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/esun.png' %}" alt="eSUN" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/FlySKY-Logo-150x150.jpg' %}" alt="FlySky" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/Intel-logo-ROBU.IN_-150x150.jpg' %}" alt="Intel" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/kamoer.png' %}" alt="Kamoer" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/lattepanda.png' %}" alt="LattePanda" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/m5stack.png' %}" alt="M5Stack" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/nextion.png' %}" alt="Nextion" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/nvdia-logo-150x150.jpg' %}" alt="Nvidia" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/raspberry-pi-logo-ROBU.IN_-150x150.jpg' %}" alt="Raspberry Pi" height="" width=""></div>
        <div class="brand-card"><img src="{% static 'images/category/seeedstudio.png' %}" alt="Seeed Studio" height="" width=""></div>
    </div>
</section>
