{% extends "layout.html" %}
{% block home %}
    {% include "hero.html" %}
    {% include "category.html" %}
    <div id="popup" class="popup">
        <p id="popup-text"></p>
    </div>
    {% include "featuredProduct.html" %}
    {% include "review.html" %}
    {% include "services.html" %}
    {% include "row-fluid.html" %}
    {% include "2sliders.html" %}
    {% include "Videos.html" %}
    {% include "blog.html" %}
    {% include "tutorials.html" %}
    {% include "featuredbrands.html" %}
{% endblock home %}
