{% load static %}
<section class="reviews-section ">
    <div class="reviews-header flex items-center w-fit border-b-2 border-black">
        <img decoding="async" class="google-logo" style="width: 90px; height: 67px" src="{% static "images/category/google.png" %}" alt="Google" title="Robu Google" width="" height="">
        <h2 class="heading-title rmcf-greaview ">-Backed Trust in Every Order</h2>
    </div>
    <div class="reviews-summary">
        <span class="rating">Excellent</span>
        <div class="stars">
            <span>⭐⭐⭐⭐⭐</span>
        </div>
        <span class="reviews-count">Based on <span id="reviewsCount">4990</span> reviews</span>
    </div>
    <div class="reviews-list">
        <div class="review">
            <div class="review-info">
                <img class="google-minilogo" src="{% static "images/category/icons8-google-48.png" %}" />
                <span class="reviewer">RGBHAT</span>
                <span class="review-date">16 May 2024</span>
                <div class="stars">
                    <span>⭐⭐⭐⭐⭐</span>
                </div>
            </div>
            <div class="review-text">Nice support</div>
        </div>
        <div class="review">
            <div class="review-info">
                <img class="google-minilogo" src="{% static "images/category/icons8-google-48.png" %}" />
                <span class="reviewer">Harshad Gosavi</span>
                <span class="review-date">16 May 2024</span>
                <div class="stars">
                    <span>⭐⭐⭐⭐</span>
                </div>
            </div>
            <div class="review-text">Best customer support</div>
        </div>
        <div class="review">
            <div class="review-info">
                <img class="google-minilogo" src="{% static "images/category/icons8-google-48.png" %}" />
                <span class="reviewer">Jay Kudalkar</span>
                <span class="review-date">14 May 2024</span>
                <div class="stars">
                    <span>⭐⭐⭐⭐</span>
                </div>
            </div>
            <div class="review-text">
                Amazing <span class="emoji">😍</span>
            </div>
        </div>
        <div class="review">
            <div class="review-info">
                <img class="google-minilogo" src="{% static "images/category/icons8-google-48.png" %}" />
                <span class="reviewer">Abhishek Soni</span>
                <span class="review-date">13 May 2024</span>
                <div class="stars">
                    <span>⭐⭐⭐⭐</span>
                </div>
            </div>
            <div class="review-text">Short and sweet conversation. Very humble.</div>
        </div>
    </div>
</section>
