{% load static %}
<section class="tutorials">
    <div class="Tutorials-head">
      <h1 class="text-3xl mx-10 p-3 font-bold border-b-2 border-black w-fit">Tutorials</h1>
      <a href="http://">
        <input class="view-butn" type="button" value="view all">
      </a>
    </div>
      <div class="cards">
          <article class="card">
            <a href="http://">
              <img src="{% static 'images/category/SmartElex-Sensors-Interfacing.jpg' %}" alt="Interfacing SmartElex Sensors">
              <div class="card-content">
                <h3>Interfacing SmartElex Sensors</h3>
                <p>Interfacing SmartElex Sensors – A Comprehensive Guide</p>
              </div>
            </a>
          </article>
          <article class="card">
            <a href="http://"> 
              <img src="{% static 'images/category/RPi-M1.jpg' %}" alt="How to setup OS in Raspberry Pi 5">
              <div class="card-content">
                <h3>How to Setup OS in Raspberry Pi 5 (4GB-8GB)</h3>
                <p>Easy Step-by-Step Guide for Setting Up OS in Raspberry Pi 5</p>
              </div>
            </a>
          </article>
          <article class="card">
            <a href="http://">
              <img src="{% static 'images/category/RPi-M1.jpg' %}" alt="Scrolling Text LED Display using Arduino Uno">
              <div class="card-content">
                  <h3>Scrolling Text LED Display using Arduino Uno</h3>
                  <p>Create an eye-catching scrolling text LED display with Arduino Uno</p>
              </div>
            </a>
          </article>
          <article class="card">
            <a href="http://">
              <img src="{% static 'images/category/RC-Transmitter-Blog-Thumbnail.jpg' %}" alt="Stream Real-Time Data to ThingSpeak">
              <div class="card-content">
                  <h3>Stream Real-Time Data to ThingSpeak</h3>
                  <p>Stream Real-Time Data to ThingSpeak using ESP8266 and DHT11</p>
              </div>
            </a>
          </article>
      </div>
  </section>