{% load static %}
<section class="blogs">
    <div class="blogs-head">
    <h1 class="text-3xl mx-10 p-3 font-bold border-b-2 border-black w-fit">Our Videos</h1>
      <a href="http://">
        <input class="view-butn" type="button" value="view all">
      </a>
    </div>
    <div class="cards">
        <article class="videos-card card ">
          <a href="http://">
            <img src={% static "/images/videos/hqdefault (1).jpg" %} alt="" height="" weight="" >
            <div class="card-content p-3">
                <h3>How to interface flame sensor with Arduino? #arduinoproject #arduin...</h3>
              </div>
            </a>
            </article>
        <article class="videos-card card">
          <a href="http://">
            <img src={% static "\images\videos\hqdefault (2).jpg" %} alt="" height="" weight="" >
            <div class="card-content p-3">
                <h3>How to interface Reed Sensor with Arduino? #arduino #arduinoproject...</h3>
              </div>
            </a>
        </article>
        <article class="videos-card card">
          <a href="http://">
              <img src={% static "\images\videos\hqdefault.jpg" %} alt="" height="" weight="" >
              <div class="card-content p-3">
                <h3>Introducing Raspberry Pi 5 M.2 Hat+ NVME | Boost your storage with...</h3>
              </div>
            </a>
        </article>
        <article class="videos-card card">
          <a href="http://">
            <img src={% static "\images\videos\hqdefault(3).jpg" %} alt="" height="" weight="" >
            <div class="card-content p-3">
                <h3>How to interface RFID Sensor with Arduino? #arduinoproject #rfidcar...</h3>
              </div>
          </a>
        </article>
    </div>
</section>